<!DOCTYPE html>
<html>
  <head>
    <title>Completed Hikes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
      crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
      crossorigin="anonymous"></script>
    <style>
      #mapid {
        height: 680px;
      }
    </style>
  </head>
  <body>
    <h1>Completed Hikes</h1>
    <div id="mapid"></div>

    <script>
      var mymap = L.map('mapid').setView([35.5361, -82.4757], 11);

      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: '<%= mapboxToken %>'
      }).addTo(mymap);
      
      var hikeRoutes = L.layerGroup();
      var overlays = {
        "Completed Hikes": hikeRoutes
      };
      L.control.layers(null, overlays).addTo(mymap);
      hikeRoutes.addTo(mymap); <%# make this one on by default %>

      $.getJSON('hikes/api/items', function(data){
        for (let i = 0; i < data.length; i++) {
          const element = data[i];
          var hue = Math.random()*360;
          var sat = Math.random()*25 + 75;
          var lum = Math.random()*50 + 25;
          var derpLayer = L.geoJSON(element, {color: 'hsl(' + hue + ',' + sat + '%,' + lum + '%)'});
          derpLayer.bindPopup('<b>' + element.hikeName + '</b><br/>' + element.hikeDate);
          hikeRoutes.addLayer(derpLayer);
        }
      });
    </script>
  </body>
</html>
