body {
  padding: 0 1em;
  margin-bottom: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map-container .leaflet-overlay-pane path {
  stroke-width: 8;
  stroke-opacity: 0.8;
}

#map-container .leaflet-overlay-pane path:hover {
  stroke-width: 12;
  stroke-opacity: 1;
}

#map-container .leaflet-overlay-pane path:focus {
  /*TODO: set class on path when its popup pane is triggered*/
  stroke-dasharray: 10,20;
  animation: linear infinite ant-path-anim;
  animation-duration: 20s;
}

@keyframes ant-path-anim {
  0% {
    stroke-dashoffset: 100%;
  }
  100% {
    stroke-dashoffset: 0%;
  }
}